#header
{
	margin-top: 10px;
}

#entity-list .entity
{
	margin-bottom: 8px;
}

.font-small
{
	font-size: 10px;
}

.text-center
{
	text-align: center;
}

#groupin
{
	margin-left: 10px;
}

#alter-input-toggler button
{
	margin-bottom: 10px;
}