#header
{
	margin-top: 10px;
}

#entity-list .entity
{
	margin-bottom: 5px;
}

#entity-add
{
	margin-top: 3px;
}

.font-small
{
	font-size: 10px;
}

.text-center
{
	text-align: center;
}

#groupin
{
	margin-left: 10px;
}

#alter-input-toggler button
{
	margin-bottom: 10px;
}

input[readonly=readonly]
{
	cursor: default;
	background-color: white;
}

#brand div
{
	color: #444;
	font-family: 'Patua One', cursive;
	display: inline-block;
	padding: 5px;
	cursor: default;
}

#brand div:nth-of-type(1)
{
	background-color: #9CC5C9;
	border-radius: 5px 0px 0px 5px;
	border-left: solid 5px #444;
	border-top: solid 5px #444;
	border-bottom: solid 5px #444;
}

#brand div:nth-of-type(2)
{
	background-color: #D5544F;
	border-top: solid 5px #444;
	border-bottom: solid 5px #444;
}

#brand div:nth-of-type(3)
{
	background-color: #CDB599;
	border-top: solid 5px #444;
	border-bottom: solid 5px #444;
}

#brand div:nth-of-type(4)
{
	background-color: #A08689;
	border-radius: 0px 5px 5px 0px;
	border-right: solid 5px #444;
	border-top: solid 5px #444;
	border-bottom: solid 5px #444;
}

#controls
{
	margin-top: 30px;
}

.group-name
{
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0px;
	box-shadow: none;
	outline:none;
}

.group-entity-list
{
	margin-top: 5px;
}

.group-entity
{
	margin-top: 5px;
}

legend
{
	margin-bottom: 15px;
}

.alter-input
{
	border-radius: 0px 0px 5px 0px;
	border-right: solid 1px #eee;
	border-bottom:solid 1px #eee;
	padding-right: 5px;
}

body
{
	
}