<!-- Entity view templates -->
<script type="text/template" id="tpl-entity-main">
	<div class="drop-shadow">
		<form class="form-horizontal">
			<legend>
				List of names
				<span id="entity-count" class="badge" title="Count"></span>
				<div class="btn-group pull-right">
					<button id="entity-reset" class="btn btn-mini" type="button" title="Reset list"><i class="icon-repeat"></i></button>
					<button id="alter-input-toggler" class="btn btn-mini" type="button" title="Alternative input">
					</button>
				</div>
			</legend>
			<div class="form-row">
				<div class="input-append">
					<input id="entity-name" type="text" placeholder="Enter name here" /><button id="entity-add" class="btn" type="button"><i class='icon-plus'></i></button>
				</div>
			</div>
			<div class="form-row well">
				<ul id="entity-list" class="nav nav-list"></ul>
			</div>
			
		</form>
	</div>
</script>

<script type="text/template" id="tpl-alter-input-toggler">
	<i class='icon-chevron-<%= direction %>'></i>
</script>

<script type="text/template" id="tpl-entity-list">
	<div class="input-prepend input-append">
	<button class="entity-star btn"><i class="icon-star<%= star %>"></i></button><input class="entity-name" type="text" value="<%= name %>" placeholder="Enter name here" tabindex=<%= tabIndex %> /><button class="entity-delete btn btn-danger"><i class="icon-remove"></i></button>
	</div>
</script>

<script type="text/template" id="tpl-entity-count">
	<%= count %>
</script>
<!-- End: Entity view templates -->

<script type="text/template" id="tpl-alter-input">
	<div class='drop-shadow'>
		<form class='form-vertical'>
			<legend>Alternative Input</legend>
			<label for='text'><i class='icon-list'></i> Enter the list of names here and make sure to select the appropriate delimiter below</label>
			<textarea id='text' rows='10'></textarea>
			<label for='file-input'><i class='icon-file'></i> Or you can just upload a text file</label>
			<input id='file-input' type='file' />
			<label for='delimiter'><i class='icon-asterisk'></i> Delimiter</label>
			<select id='delimiter'>
				<option value=','>Comma</option>
				<option value=' '>Space</option>
				<option value='\t'>Tab</option>
				<option value='\n' selected='selected'>New Line</option>
				<option value='other'>Other...</option>
			</select>
			<input id='other-delimiter' type='text' placeholder='Enter delimiter' style='display:none' />
			<button id='import' class='btn' type='button'><i class='icon-backward'></i> Import</button>
		</form>
	</div>
</script>

<script type="text/template" id="tpl-group-list-item">
    <div class='span3'>
    	<div class="well">
			<form class='form-horizontal'>
				<input class='group-name' type='text' value='<%= name %>' />
				<div class='group-entity-list'></div>
			</form>
		</div>
	</div>
</script>

<script type="text/template" id="tpl-group-list-entity">
	<div class='group-entity input-prepend <%= hidden %>'>
		<span class='add-on'><i class='icon-star<%= star %>'></i></span><input class='span2' type='text' value='<%= name %>' readonly='readonly' />
	</div>
</script>

<script type="text/template" id="tpl-control">
	<form class='form-horizontal'>
		<div class='input-prepend input-append'>
			<span class='add-on font-small'>No. of groups</span><input id='group-count' class='span1 text-center' type='text' value='<%= groupCount %>' /><button class='btn plus <%= plusDisabled %>' type='button'><i class='icon-plus-sign'></i></button><button class='btn minus <%= minusDisabled %>' type='button'><i class='icon-minus-sign'></i></button>
		</div>
		<button id='groupin' class='btn btn-primary' type='button'>Start Groupin!</button>
	</form>
</script>

<script type="text/template" id="tpl-share-btn">
	<div id='share-modal' class='modal hide fade'>
		<div class='modal-header'>
			<a class='close' data-dismiss='modal'>&times;</a>
			<h3>Share your Groupin</h3>
		</div>
		<div id='share-body' class='modal-body'>
			<p>Test</p>
		</div>
		<div class='modal-footer'>
			<a href='#' class='btn' data-dismiss='modal'>Close</a>
		</div>
	</div>
	<button class='share btn btn-primary pull-right' type='button'><i class='icon-share'></i> Share Groupin!</button>
</script>

<script type="text/template" id="tpl-share-body">
	<p><a href='<%= link %>'><%= link %></a></p>
</script>