<script type="text/template" id="tpl-entity-list-item">
	<div>
		<span class='star'>
			<img src='css/res/star-<%= starred %>.png' alt='Star' width='18px' height='18px' />
		</span>
		<span>
			<input class='name' value='<%= name %>' placeholder='Insert name here' />
		</span>
		<span class='delete'>
			<img src='css/res/remove.png' alt='Remove' width='26px' height='26px' />
		</span>
	</div>
</script>

<script type="text/template" id="tpl-entity-add-item">
	<div class='add'>
		<img src='css/res/add.png' alt='Add' width='26px' height='26px' />
	</div>
</script>

<script type="text/template" id="tpl-alter-input-entity">
	<input id='fileInput' type='file' />
	<textarea id='text'></textarea>
	<select id='delimiter'>
		<option value=','>Comma</option>
		<option value=' '>Space</option>
		<option value='\t'>Tab</option>
		<option value='\n' selected='selected'>New Line</option>
		<option value='other'>Other...</option>
	</select>
	<input id='otherDelimiter' type='text' placeholder='Enter delimiter' style='display:none' />
	<input id='import' type='button' value='Import' />
</script>

<script type="text/template" id="tpl-control">
	<input id='groupCount' type='number' min='1' max='<%= max %>' value='1' />
	<input id='groupin' type='button' value='Start Groupin!' />
</script>

<script type="text/template" id="tpl-group-list-item">
    <div>
		<span class='name'><%= name %></span>
	</div>
</script>